#forms{
    font-size: 10;
    width: 98%;
    background-color: rgb(133, 4, 207);
    border-radius: 15px;
    border: 1;
    padding: 10px 20px;
}
input {
    font-size: 22px;
    font-weight: 100;    
    border-radius: 10px;
    border: 1;
    padding: 5px 10px ;
    width: 180px;
}
button {
    font-size: 18px;
    font-weight: 600;
    background-color:white;
    border-radius: 12px;
    border: 0;
    padding: 6px 20px;
    cursor: pointer;    
}
